.main {
    background-color: #6669FE;
    width: 100%;
    height: 98px;
    padding: 9px;
}

.display {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.heading {
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    color: azure;
    margin-top: 1.25rem;
}

.subheading .one {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-top: 1.2rem;
}

.subheading .two {
    font-size: 0.75rem;
    color: white;
}

@media (max-width: 768px) {
    .main {
        height: auto;
        padding: 15px;
        width: 430px;
    }

    .heading {
        font-size: 1.75rem;
        margin-top: 0.75rem;
    }

    .subheading .one {
        font-size: 1.25rem;
        margin-top: 1rem;
    }

    .display {
        flex-direction: column;
        align-items: flex-start;
    }
}
